<div class="container my-5">
  <h1> My Dashboard <h1>
    <%# <%= if @country.user_id == @current_user.id %>
        </p>
        <%# <% @my_rentals.each do |rental| %>
          <%# <%= rental.user.first_name %>
        <%# <% end %>
      <%# <% @my_countries.rentals.each do |rental| %>
        <%# <%= rental.user.first_name %>
      <%# <% end %>
      <%# <% else %>
      <%# <p> You don't have permission to view this page. </p> %>
    <%# <%end%>
  <h2>My Countries</h2>

  <div class="dashboard-grid mb-5">
    <% @my_countries.each do |country| %>
      <div class="card" style="width: 18rem;">
        <%= image_tag "#{country.image_url}", alt: "country", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title"><%= country.name %></h5>
          <p class="card-text"><%= country.description %></p>
          <%# <a href="#" class="btn btn-primary">See country</a> %>
          <%= link_to "View Country", country_path(country), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <h2>Users Who Rented My Countries</h2>
  <ul>
    <% @rentals.each do |rental| %>
        <p>
        A bid by <%= rental.user.first_name %>
        For R <%= rental.offer_value%>
        </p>
    <% end %>
  </ul>

  <h2>Countries I Have Rented</h2>
  <ul>
    <% @rented_countries.each do |country| %>
      <li><%= country.name %></li>
    <% end %>
  </ul>
</div>
