<div class="container my-5">
  <h1> Make a new country </h1>
  <%= simple_form_for(@country) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :initial_price %>
    <%= f.input :image_url %>
    <%= f.submit %>
  <% end %>
</div>
