<div class="container mb-5">
  <%= link_to "Back to all countries", countries_path, class: "btn btn-primary mt-3" %>
  <div class="card-country-show my-3">
    <%= cl_image_tag(@country.photo.key, height: 300, width: 400, crop: :fill, alt: "country") %>
    <div class="p-3 d-flex flex-column justify-content-between card-country-show-info">
      <div>
        <h1 class="text-center"><%= @country.name %></h1>
        <p class="fs-5"><%= @country.description %></p>
        <p><strong>Rental Price: </strong>$<%= @country.initial_price %></p>
        <p><strong>Country Owner: </strong> <%= @country.user.first_name %> <%= @country.user.last_name %></p>
      </div>
      <div class="d-flex flex-column gap-3">
        <%= link_to "Rent this country", new_country_rental_path(@country.id), class: "btn btn-primary"%>
        <%= link_to "See all your bids", dashboard_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column gap-3 justify-content center border-radius:50%", style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
